.chat-header {
  background-color: #fff;
  padding: 0;
  flex-shrink: 0;
  display: flex;
  padding: 1.25rem !important;
  border-bottom: 1px solid #f0eff5 !important;
}

.chat-header .panel-message {
  font-size: 16px !important;
  padding: 4px;
  margin-left: 10px;
  color: #495057;
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
}