.chat-header {
  background-color: #fff;
  padding: 0;
  flex-shrink: 0;
  display: flex;
  padding: 13px !important;
  border-bottom: 1px solid #eeeef1;
}

.chat-header .panel-message {
  font-size: 20px;
  line-height: 1.4;
  color: #495057;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px;
  font-weight: 550;
}