.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid #eeeef1 !important;
  border-left: 1px solid #eeeef1 !important;
  position: fixed;
  /*width: calc(100% - 20px);*/
  right: 0;
  left: 350px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, .05);
  
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  border-radius: 18px;
  flex: 1;
  border: none;
  font-size: 14px;
  height: 40px;
  background: rgb(242, 242, 242);
  padding: 0 8px 0 12px;
  
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}
