/src/foo-frontend/target/
/src/foo-frontend/log/
/src/foo-backend/target/
/src/foo-backend/log/
/src/foo-frontend/node_modules/
.idea
*.iml

# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
 
# Maven
log/
target/

foo-frontend/package-lock\.json
