.compose {
  flex-direction: row;
  display: flex;
  align-items: center;
  border-top: 1px solid #f0eff5 !important;
  flex-shrink: 0;
  padding: 10px;
  background-color: white;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    /* border: none; */
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}

.compose textarea {
  padding: 20px;
  resize: none;
  border-radius: 0;
  background: rgb(245, 245, 245);
  border: 1px solid rgb(245, 245, 245);
  color: rgb(76, 83, 90);
  margin-right: 5px;
}

.compose textarea:focus,
.compose textarea:active,
.compose textarea:hover {
  box-shadow: none;
  border: 1px solid rgb(245, 245, 245);
  -webkit-box-shadow: none;
}


.compose textarea::placeholder {
  color: rgb(169, 184, 183);
}

.compose button {
  margin-right: 5px;
  color: rgb(25, 142, 252);
  /* background-color: rgb(139, 198, 255); */
  background-color: white;
  border: none;
}