.wallet-info {
  /* height: calc(100vh - 500px); */
  margin: 30px;
}

.wallet-card {
  /* background-color: rgb(250, 250, 250); */
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  border-radius: 10px;
  /* border: 1px solid #eff2f7 !important; */
  background-clip: border-box;
}

.wallet-user {
  margin: 0 auto;
  text-align: center;
  padding: 1.5rem !important;
  /* border-bottom: 1px solid #f0eff5 !important; */
}

.wallet-username {

  margin: 20px 0;
  color: rgba(0, 0, 0, .85);
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.wallet-balance {
  margin-bottom: 20px;
  text-align: center;
}

.wallet-last-updated {
  text-align: center;
}

.wallet-last-updated .ant-statistic-content-value {
  font-size: 18px;
}

.wallet-info .ant-card-body {
  /* padding: 10px; */
}

.wallet-balance-card {
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.87);
  /* width: 100%; */
  display: flex;
  position: relative;
  font-size: .875rem;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid rgb(100, 172, 87);
  background-clip: border-box;
  /* border-color: transparent;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, .16), 0 3px 6px 0 rgba(0, 0, 0, .12), 0 5px 12px 4px rgba(0, 0, 0, .09); */
  margin-top: 30px;
  border-radius: 6px;
  margin-bottom: 30px;
  flex-direction: column;
}

.wallet-balance {
  padding: 0;
  margin: 0 15px;
  position: relative;
  text-align: right;
}

.ant-statistic-content {
  font-size: 35px;
}

.wallet-balance-icon {
  float: left;
  padding: 20px;
  margin-top: -20px;
  margin-right: 15px;
  border-radius: 3px;
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(76, 175, 80, .4);
}

.wallet-balance-title {
  color: #999;
  margin: 0;
  font-size: 16px;
  margin-top: 0;
  padding-top: 10px;
  margin-bottom: 0;
}

.wallet-balance-number {
  color: #3C4858;
  font-weight: 300;
  margin: 0 !important;
  line-height: 1.5em;
  font-size: 30px;
}

.wallet-time {
  border-top: 1px solid #eee;
  margin-top: 20px;
  margin: 0 15px 10px;
  display: flex;
  padding: 0;
  align-items: center;
  padding-top: 10px;
  border-radius: 0;
  justify-content: space-between;
  background-color: transparent;

  color: #999;
  font-size: 16px;
  line-height: 22px;
}