.message {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.message .timestamp {
  display: flex;
  justify-content: center;
  color: #999;
  font-weight: 600;
  font-size: 12px;
  margin: 10px 0px;
  text-transform: uppercase;
}

.message .bubble-container {
  font-size: 14px;
  display: flex;
}

.message.mine .bubble-container {
  justify-content: flex-end;
}

.message.start .bubble-container .bubble {
  /* margin-top: 10px; */
  border-top-left-radius: 20px;
}

.message.end .bubble-container .bubble {
  border-bottom-left-radius: 20px;
  /* margin-bottom: 10px; */
}

.message.mine.start .bubble-container .bubble {
  margin-top: 10px;
  border-top-right-radius: 20px;
}

.message.mine.end .bubble-container .bubble {
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
}

.message .bubble-container .bubble {
  margin: 1px 0px;
  /* background: rgb(245, 247, 251); */
  padding: 10px 15px;
  border-radius: 20px;
  /* max-width: 75%; */
  /* max-width: 450px; */
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.17); */
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
  border: 0 solid #f6f6f6;
  background-clip: border-box;
  background-color: #fff;
}

.message.mine .bubble-container .bubble {

  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.17); */
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
  border: 0 solid #f6f6f6;
  background-clip: border-box;
  background: #007aff;
}



.message.transfer .bubble-container .ant-card {
  background-color: #ffffff;
  color: #000000;
}

.message.mine.transfer .bubble-container .ant-card {
  background-color: rgb(0, 178, 85);
  color: #ffffff;
}

/* .transfer-message {
  background-color: rgb(0, 178, 85);
  padding: 10px 15px;
  display: flex;
  border-radius: 18px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
} */

.transfer-message-icon {
  font-size: 30px;
  color: rgb(0, 178, 85);
}

.message.mine.transfer .bubble-container .ant-card .transfer-message-icon {
  color: #ffffff;
}

.transfer-message-amount {
  font-size: 16px;
  margin-left: 5px;
  font-weight: 500;

}

.message.mine.transfer .bubble-container .ant-card .transfer-message-amount {
  color: #ffffff;
}

.message.transfer .bubble-container .ant-card {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.17);
  max-width: 75%;
  margin-bottom: 7px;
}

.message.transfer .bubble-container .ant-card .ant-card-body {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
}

.ant-card-actions {
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.ant-card-actions li {
  margin: 5px 0;
}