.demo-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 24px;
  height: 100%;
  background-color: #ffffff;
}

.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 50px;
  text-align: center;

}

.demo-infinite-container li {
  padding: 0;
  border-bottom: none;
}


.ant-list-split .ant-list-item {
  border-bottom: none;
}