.demo-infinite-container {
  /* border: 1px solid #e8e8e8; */
  /* border-radius: 4px; */
  overflow: auto;
  /* padding: 50px; */
  height: 100%;
  background-color: rgb(250, 250, 252);
}

.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 50px;
  text-align: center;

}

.demo-infinite-container li {
  padding: 0;
  border-bottom: none;
}


.ant-list-split .ant-list-item {
  border-bottom: none;
}

.ant-list-split .ant-list-header {
  border-bottom: none;
}

.panel-header {
  font-size: 16px !important;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  background: rgb(230, 240, 255);
  margin-bottom: 10px;
}

.ant-collapse>.ant-collapse-item {
  border: none;
}