.demo-infinite-container {
  overflow: auto;
  height: 100%;
  /* background-color: rgb(250, 250, 252); */
}

.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 50px;
  text-align: center;

}

.demo-infinite-container li {
  padding: 0;
  border-bottom: none;
}


.ant-list-split .ant-list-item {
  border-bottom: none;
}

.ant-list-split .ant-list-header {
  border-bottom: none;
}

.panel-header {
  font-size: 16px !important;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  background: rgb(230, 240, 255);
  margin-bottom: 10px;
}

.ant-collapse>.ant-collapse-item {
  border: none;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-content {
  background-color: #f8f8fb;

}

.ant-collapse>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
  padding: 2px 40px;
}

@media only screen and (max-width: 600px) {
  .ant-collapse>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
    padding: 2px 15px;
  }
}

.ant-ribbon-wrapper .transaction-history-item {

  margin-top: 10px;
  padding: 15px 20px;
  border-radius: 10px;
  border-top-left-radius: 0;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
  border: 0 solid #f6f6f6;
  background-clip: border-box;
  background-color: #fff;
  margin-bottom: 15px;

}

.ant-ribbon-wrapper .transaction-history-item:hover {
  border-color: transparent;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, .16), 0 3px 6px 0 rgba(0, 0, 0, .12), 0 5px 12px 4px rgba(0, 0, 0, .09);
  transition: all 0.45s ease 0s;
}

.ant-collapse-content-box {
  background-color: #ffffff;
}

.ant-collapse {
  background-color: #ffffff;
}