<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable" status="info" monitorInterval="30">

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d	%-5level [%t]	%logger %L	%msg%n"/>
        </Console>

        Generate rolling log for router with per hour interval policy
        immediateFlush=true for debugging, set to false when go to production
        <!--        <RollingRandomAccessFile name="ProcessorRollingFile"-->
        <!--                                 fileName="logs/bootstrap.log"-->
        <!--                                 filePattern="logs/bootstrap-%d{MM-dd-yyyy}-%i.log.gz"-->
        <!--                                 immediateFlush="true">-->
        <!--            <PatternLayout>-->
        <!--                <pattern>%d %-5level %logger %msg%n</pattern>-->
        <!--            </PatternLayout>-->
        <!--            <Policies>-->
        <!--                <SizeBasedTriggeringPolicy size="250 MB"/>-->
        <!--            </Policies>-->
        <!--        </RollingRandomAccessFile>-->
    </Appenders>

    <Loggers>
        <Root level="warn">
            <AppenderRef ref="ProcessorRollingFile"/>
            <!--<AppenderRef ref="CONSOLE"/>-->
        </Root>
        <Logger name="vn.zalopay.phucvt.fooapp" level="info">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
    </Loggers>
</Configuration>
