.transaction-list-item {
  display: flex;
  align-items: center;
  /* padding: 10px; */
  position: relative;
  border-radius: 10px;
  margin: 3px 10px;
  width: 100%;
  border: 1px solid rgb(245, 245, 245);
}

.transaction-icon {
  font-size: 25px;
  font-weight: 600;
  margin-right: 20px;
  background-color: chartreuse;
}

.transaction-info {}

.transaction-user-name {
  font-size: 16px !important;
}

.amount-transfer {
  font-size: 16px;
  font-weight: 500;
  flex-shrink: 0;
  right: 0;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.deposit {
  color: rgb(81, 204, 40);

}

.withdraw {
  color: rgb(255, 0, 0);
}

.transaction-time {
  font-size: 14px;
  color: #888;
  font-weight: 100;
  line-height: 10px;
  margin-left: 10px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;
}