.transaction-list-item {
  display: flex;
  align-items: center;
  /* padding: 10px; */
  position: relative;
  border-radius: 10px;
  margin-left: 30px;
  /* width: 100%; */
  border: 1px solid rgb(245, 245, 245);
}

.transaction-item {
  border-radius: 12px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .19);
  margin: 5px 0;
}

.transaction-item-in {
  border: 1px solid #61affe;
  background: rgba(97, 175, 254, .1);
}

.transaction-item-out {
  border: 1px solid #fca130;
  background: rgba(252, 161, 48, .1);
}

.transaction-item-in:hover {
  box-shadow: 0px 0px 0px 1px #1391FF;
}

.transaction-item-out:hover {
  box-shadow: 0px 0px 0px 1px #E97500;
}

.transaction-icon {
  padding: 16px 0;
  font-size: 18px;
  font-weight: 700;
  min-width: 80px;
  text-align: center;
  border-radius: 12px;
  background: #000;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  font-family: sans-serif;
  color: #fff;

  /* margin-left: 5px; */
}

.transaction-icon-out {
  background-color: rgb(233, 117, 3);
}

.transaction-icon-in {
  background-color: rgb(28, 145, 254);
}

.transaction-info {
  padding: 8px;
}

.transaction-user-name {
  font-size: 16px !important;
}

.amount-transfer {
  font-size: 16px;
  font-weight: 500;
  flex-shrink: 0;
  right: 0;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.deposit {
  color: rgb(28, 145, 254);
  font-weight: 600;

}

.withdraw {
  color: rgb(233, 117, 3);
  font-weight: 600;
}

.transaction-time {
  font-size: 14px;
  color: #888;
  font-weight: 100;
  line-height: 10px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;
}

.ant-row {
  width: 100%;
}