.messenger {
  display: grid;
  width: 100%;
  height: 100vh;
  background-color: white;

  grid-template-columns: 100px 350px auto;
  grid-template-rows: 60px auto 60px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.container {
  padding: 10px;
}

.scrollable {
  position: relative;
  /* overflow-y: scroll; */
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.content {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.footer {
  grid-column-start: 2;
  background: white;
}

#main-side-menu {
  background-color: rgb(2, 21, 41);
  border-right: 1px solid #f0f0f0;
}

#main-side-menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;

}

.menu-separation {
  margin-top: 40px;
}

.tab-avatar {
  margin: auto;
  margin-top: 12px;
  display: block;
  margin-left: 15px;
}

#side-menu {
  color: rgb(187, 189, 194);
  border-right: 0px;
}

#side-menu li {
  padding: 28px 0;
  border-radius: 8px;
  margin: 8px;
}

.ant-menu-item .anticon {
  margin-right: 0;
}